* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  color:#222222;
  background-color: #f8f8f8;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

.main-title {
  font-size: 3rem;
  font-weight: bold;
}

.main-subtitle {
  font-size: 1.5rem;
}

.bar {
  width: 1000px;
  height: 50px;
  border-radius: 20px;
  margin-top: 1rem;
}

.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1000px;
  gap: 1rem;
  margin-top: 2rem;
}
.news-group {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Center items horizontally */
  gap: 2rem;
  width: 100%; /* Take up the full width of the container */
}
.news {
  flex: 1; /* Distribute available space equally among items */
  max-width: calc(50% - 1rem); /* Limit each item's width to 50% of the container */  
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: solid #222222 5px;
}